#index-product {
  h1 {
    text-align: center;
    color:rgba(0, 4, 255, 0.938);
    margin: 2rem auto;

  }


  .product-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .card-block{
    position: relative;
    padding: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.100);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
  }

  .img-border{
    border-radius: 6px;
  }

  .card-btn{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
