#index-product {
  margin: 5rem auto;
  h1 {
    text-align: center;
    color: #e6e2e2;
    margin: 2rem auto;

  }


  .product-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .card-block{
    position: relative;
    padding: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.100);
    background-color: $body-color-brighter;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
  }

  .card-img{
    border-radius: 6px;
  }
}
