#new-product-page {
  margin: 5rem auto;
  width: 700px;
  padding: 2rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.100);
  background-color: #fff;
  border-radius: 10px;
  h1 {
    font-size: 28px;
    text-align: center;
  }
}
