<footer class="d-flex">
  <div class="footer-content">
    <%= link_to "" do %>
        <%= image_tag "fofantti_logo_white.svg", class: 'footer-brand' %>
      <% end %>
    <p>All rights reserved ©FofanttiPlayStore</p>
  </div>
</footer>
