<div id="home-page" class="d-grid">
  <section class="banner">
    <div class="banner-content">
      <h1>Find the skin of your dreams!</h1>
      <p>Or sell your items to fellow gamers</p>
      <div class="buttons">
        <%= link_to "Browse all items", products_path, class: "btn btn-primary" %>
      </div>
    </div>
  </section>

  <section id="games-display" class="d-grid container">
    <h2 class="text-center">Browse items by games</h2>
    <div class="game-cards-wrapper">
      <% @games.each do |game| %>
        <div class="game-card">
          <%= link_to game_path(game) do %>
            <%= cl_image_tag game.photo.key %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
