footer {
  padding: 5rem;
  align-items: center;
  justify-content: center;
  background-color: #502273;

  a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-brand {
    width: 60px;
    object-fit: cover;
  }

  .footer-content {
    display: grid;
    gap: 1rem;

    p {
      color: #FFF;
    }
  }
}
