#show-product-page {
  margin: 5rem auto;
  position: relative;
  width: 1200px;
  padding: 2rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.100);
  background-color: $body-color-brighter;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;

  h1 {
    font-size: 28px;
    font-weight: 700;
  }

  h2 {
    font-size: 14px;
    font-weight: 700;
  }

  h3 {
    font-size: 12px;
    font-weight: 700;
  }

  h2.price {
    font-size: 28px;
    font-weight: 700;
  }

  .product-info {
    max-width: 600px;
    line-break: auto;
    word-wrap: break-word;
  }
  .product-img {
    margin-right: 40px;
  }

  .buttons {
    display: flex;
    gap: 16px;
    width: 600px;
    position: absolute;
    bottom: 2rem;
  }
}
